###############################################################################
# 这些文件或目录将被忽略，不纳入版本管理中。
###############################################################################


###############################################################################
# Python虚拟环境和Python缓存目录
###############################################################################
.venv/
__pycache__/


###############################################################################
# Python编译文件
###############################################################################
*.pyc
*.pyo
*.pyd

###############################################################################
# 日志文件
###############################################################################
*.log