###############################################################################
# 这些文件或目录将被忽略，不纳入版本管理中。
###############################################################################


###############################################################################
# Python虚拟环境和Python缓存目录
###############################################################################
.venv/
__pycache__/


###############################################################################
# Python编译文件
###############################################################################
*.pyc
*.pyo
*.pyd

###############################################################################
# 日志文件
###############################################################################
*.log


###############################################################################
# 项目本地存储数据
###############################################################################

user/
# 1. 长期记忆的聊天记录
# 2. 中期记忆
# 3. 每个群的具体设置

data/voice/
# 语音合成的缓存文件
